# Data Science Ecosysytem

In this notbeook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- How to create a notebook in JupyterLab
- How to downoload your Notebook
- How to create a table in Jypyter Notebook
- Performing Arithmetic in Jupyter Notebook

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. PyTorch
2. ggplot
3. caret
4. dplyr
5. NumPy

|Data Science Tools|
--------------------
|Jupyter Notebook|
|R|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
result=200/60

print(result, 'hours')

3.3333333333333335 hours

## Author
Evans Nortey